<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow my-5 border-0">
                <div class="row">
                    <div class="col-md-5">
                        <img src="assets/static/{{ blog.image_url }}" class=" img-fluid card-img-top" alt="...">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h3 class="card-title">{{ blog.title }}</h3>
                            <h4 class="card-subtitle mb-2 text-muted">{{ blog.subtitle }}</h4>
                            <br><br>
                            <h5>Summary : </h5>
                            <p class="card-text">{{ blog.summary }}</p>
                            <h5>Description : </h5>
                            <p class="card-text">{{ blog.description }}</p>
                        </div>
                        <div class="card-footer">
                            <p>Likes : {{ blog.likes_count }}</p>
                            <p>Time : {{ blog.timestamp }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
