<div class="container">
    <div class="row">
        <div class="col-md-10 offset-1">
            <div *ngFor="let blog of blogs">
                <div class="card shadow my-5 border-0">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="assets/static/{{ blog.image_url }}" class=" img-fluid card-img-top" alt="...">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h3 class="card-title">{{ blog.title }}</h3>
                                <h5 class="card-subtitle mb-2 text-muted">{{ blog.subtitle }}</h5>
                                <p class="text-right text-muted"> - by {{ blog.fullname }}</p>
                                <p class="text-left text-muted"> {{ blog.timestamp | date:'mediumDate' }} {{ blog.timestamp | date:'shortTime' }} </p>
                                <br>
                                <h5>Summary : </h5>
                                <p class="card-text">{{ blog.summary }}</p>
                                <h5>Description : </h5>
                                <div class="overflowTest">{{ blog.description }}</div>
                            </div>
                            <div class="card-footer">
                                <h4><button type="button" class="btn btn-primary bmd-btn-fab active"> <i class="material-icons">thumb_up</i> </button>  : {{ blog.likes }}</h4> 
                                <h4><button type="button" class="btn btn-warning bmd-btn-fab active"> <i class="material-icons">thumb_down</i> </button>  : {{ blog.dislikes }}</h4> 
                                <div class="row">
                                    <div class="col-6">
                                        <button class="btn btn-raised btn-block btn-info mt-5 mr-3" (click)="editBlog(blog._id)">Edit</button>
                                    </div>
                                    <div class="col-6">
                                        <button class="btn btn-raised btn-block btn-danger mt-5" (click)="deleteBlog(blog._id)">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
